---
- name: Create the directory for YUM configuration
  file:
    path:  '{{ item }}'
    owner: root
    group: root
    mode:  0755
    state: directory
  with_items:
    - '{{ yum__conf_dir }}'
    - '{{ yum__repos_dir }}'
    - '{{ yum__plugins_conf_dir }}'
    - '{{ yum__plugin_post_actions_conf_dir }}'
    - '{{ yum__periodic_directory }}'

- name: Update yum-cron configurations
  template:
    src:   yum-cron.conf.j2
    dest:  "{{ yum__conf_dir }}/{{ item.key~'.conf' }}"
    owner: root
    group: root
    mode:  0644
  with_dict: '{{ yum__cron_configs }}'

- name: Update yum plugins configuration files
  template:
    src:   '{{ item }}'
    dest:  "{{ yum__plugins_conf_dir }}/{{ item|replace('.j2', '') }}"
    owner: root
    group: root
    mode:  0644
  with_items: '{{ yum__plugins_conf_templates }}'

# the bloc below it to be removed after 07/01/2018
- name: Remove old cron job
  file:
    path:  /etc/cron.daily/yum-packages-lists-update.cron
    state: absent

- name: Configure cron job to update cached packages lists regularly
  template:
    src:   yum-packages-lists-update.cron.j2
    dest:  /etc/cron.daily/10yum-packages-lists-update.cron
    mode:  0755
  when: yum__periodic_use_cached_updates_list|bool

- name: Remove cron job to update cached packages lists regularly
  file:
    path:  /etc/cron.daily/10yum-packages-lists-update.cron
    state: absent
  when: not yum__periodic_use_cached_updates_list|bool

#- import_tasks: configure-keys.yml
#- import_tasks: configure-repositories.yml
